body {
    background-image: url("../img/white.jpeg")
}

.page-title {
    color: #222222;
}

.card {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.theme {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(39,38,40,0.4);
}
.change-theme[data-theme="dark"]{
    display: block ;
}
.change-theme[data-theme="light"]{
    display: none ;
}